* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

hr {
    margin: 5rem 0 5rem 0;
}

a {
    cursor: pointer;
}

h1 {
    font-size: 3rem;
}

button:hover {
    cursor: pointer;
}

/* Bai 1 start */
.bai1 {
    text-align: center;
    padding: 2rem;;
    display: flex;
    justify-content: center;
}

.bai1 h1 {
    margin: 3rem 0 1rem 0;
}

.bai1 .container {
    margin: auto;
    background-color: #f2f2f2;
    width: 64rem;
    height: 36rem;
    padding: 5rem;
    border-radius: 0.4rem;
}

.bai1 .icon {
    border: 0.2rem solid #6ACDCD;
    border-radius: 50%;
    padding: 1rem;
    color: #6ACDCD;
    font-size: 1.6rem;
}

.bai1 .para {
    color: #BBBBBB;
    margin: 2rem 0;
    font-size: 1.6rem;
}

.bai1 input {
    padding: 1.4rem 2rem;
    width: 44%;
    margin-bottom: 1rem;
    outline: 0;
    border: 0;
}

.bai1 button {
    background-color: #72CBD1;
    outline: 0;
    border: 0;
    padding: 1.5rem 2rem;
    color: #fff;
    font-weight: 600;
}

.btn {
    text-transform: uppercase;
}

/* Bai 1 end */


/* Bai 2 start*/
/* .bai2 {
    margin: auto;
    width: 50%;
} */

.bai2 .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.bai2 h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.4rem;
    font-size: 2rem;
}

.bai2 button {
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid #000;
    outline: 0;
    border-radius: 0.2rem;
    color: #6B6B6B;
    margin-top: 3rem;
    background-color: #fff;
}

.bai2 p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.bai2 .img {
    width: 20rem;
    margin-right: 3rem;

}

.bai2 img {
    border: 0.3rem solid #ccc;
    width: 100%;
}        

/* Bai 2 end*/

/* Bai 2 lan 2 start*/

/* .bai2-lan2 {
    display: flex;
} */

.bai2-lan2 .container {
    display:flex;
    flex-wrap: wrap;
    margin: auto;
    width: 120rem;
    justify-content: center;
}

.bai2-lan2 .container .content{
    width: 60%;
}

.bai2-lan2 h2 {
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.4rem;
    font-size: 2rem;
}

.bai2-lan2 button {
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid #000;
    outline: 0;
    border-radius: 0.2rem;
    color: #6B6B6B;
    margin-top: 3rem;
    background-color: #fff;
}

.bai2-lan2 p {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.bai2-lan2 .img {
    width: 20rem;
    margin-right: 3rem;
}

.bai2-lan2 img {
    border: 0.3rem solid #ccc;
    border-radius: 2px;
    width: 100%;
}        

/* Bai 2 lan 2 end*/

/* Bai 3 start  */

.main-inform {
    display: flex;
    gap: 1rem;
}

.main-inform input {
    width: 50%;
    /* outline: 0; */
}

/* .bai3 {
    display: flex;
} */

.bai3 h3 {
    font-weight: 550;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.bai3 textarea,
.bai3 input {
    padding: 1rem;  
    margin-bottom: 1rem;
    outline: 0;
    border: 0.2rem solid rgba(0,0,0,0.3);
}

.subject-form {
    width: 100%;
}

.bai3 .container {
    margin: auto;
    width: 120rem;
}

.bai3 .container textarea{
    width: 100%;
    height: 30rem;
    outline: 0;
}

.bai3 button {
    background-color: #7DCEFD;
    color: #fff;
    outline: 0;
    border: 0;
    border-radius: 0.2rem;
    padding: 1.4rem 1rem;
}

.bai3 .content-text {
    display: flex;
    justify-content: space-between;
}

.bai3 .content-text p {
    color: #777777;
    font-size: 1.6rem;
}

/* Bai 3 end  */

/* Bai 4 start */
.bai4 {
    background-color: #F7F7F7;
    position: relative;
    height: 45rem;
    /* display: flex; */
    justify-content: center;
    width: 120rem;
    margin: auto;
}

.bai4 .header {
    background-color: #01BACF;
    color: #fff;
    padding: 2rem 3rem 4rem 2rem;
    width: 120rem;
    height: 16.8rem;
    /* margin-left: 2.8rem; */
    /* width: 100%; */
}

.bai4 h1 {
    margin-left: 3.2rem;
}

.bai4 h4 {
    margin: 1rem 0 2rem 0;
    text-transform: capitalize;
    font-size: 2.2rem;
}

.bai4 p {
    font-size: 1.7rem;
    color: #BEBEBE;
}

.bai4 .icon a {
    font-size: 3.2rem;
    color: #C4D82C;
}

.bai4 .box-container {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    position: absolute;
    top: 13rem;
    border-right-color: #ccc;
    /* width: 100%; */
    width: 120rem
}

.bai4 .box-container .box {
    background-color: #fff;
    width: 30%;
    height: 26rem;
    padding: 4rem 6.2rem 4rem 3rem;
}





/* Bai 4 end */



/* Bai 5 start */
.bai5 {
    display: flex;
    /* background-color: #FAFAFA; */
    justify-content:center;
    gap: 3rem;
}

.bai5 a {
    text-decoration: none;
}

.bai5 .bai5-container {
    display: flex;
    /* justify-content:center */
    align-items: center;
    background-color: #FAFAFA;
    padding: 2rem;
}

.phone {
    position: relative;
    width: 48.6rem;
}

.phone img {
    width: 100%;
}

/* Anh trong giao trinh */
.bai5-img-w-phone {
    position: absolute;
    top: 10.6rem;
    /* left: 14.1rem; */
    right: 4.7rem;
    background-image: url('./img/img1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 53.1rem;
    width: 29.8rem;
    z-index: 1000;
    animation: switch-img 2s linear infinite;
}

@keyframes switch-img {
    25% {
        background-image: url('./img/img2.jpg');
    }
    50% {
        background-image: url('./img/img3.jpg');
    }
    75% {
        background-image: url('./img/img4.jpg');
    }
    100% {
        background-image: url('./img/img1.jpg');
    }
}

/* Anh tren mang */
/* .bai5-img-w-phone{
    position: absolute;
    top: 19.8rem;
    left: 14.0rem;
    background-image: url('./img/bucanh1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 33.4rem;
    width: 29.8rem;
    z-index: 1000;
    animation: switch-img-w-phone 8s linear infinite;
}




@keyframes switch-img-w-phone {
    25% {
        background-image: url('./img/bucanh2.jpg');
    }
    50% {
        background-image: url('./img/bucanh3.jpg');
    }
    75% {
        background-image: url('./img/bucanh4.jpg');
    }
} */

/* .bai5 .login-container {
} */

.bai5 .login-container {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid #ccc;
    margin-bottom: 2rem;
}

.bai5 .login {
    width: 40rem;
    text-align: center;
}

.bai5 .login-container,
.bai5 .sign-up-container{
    box-shadow: 0.1rem 0.2rem 0.4rem 0.1rem rgba(0,0,0,0.3);
}

.bai5 h2 {
    font-size: 5rem;
    margin: 2rem 0 3rem 0 ;
}

.bai5 .fogot-pwd,
.bai5 .login-w-facebook,
.bai5 .button-login,
.bai5 .separate,
.bai5 .login input{
    width: 73%;
}

.bai5 .login input{
    padding: 1rem 2rem 1rem 2rem;
    padding: 1rem 2rem 1rem 1rem;
    outline: 0;
    margin-bottom: 1rem;
        border: 0.1rem solid #ccc;
}

.bai5 .button-login {
    background-color: #5ecfdc;
    color: #fff;
    padding: 1rem;
    font-weight: 600;
    margin: 1rem 0 1.5rem 0;
    cursor: pointer;
}

.bai5 .separate {
    border-top: 0.1rem solid #ccc;
    position: relative;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
}

.bai5 .separate .or {
    color: #ccc;
    position: absolute;
    top: -1rem;
    width: 14%;
    /* margin: auto; */
    background-color: #FAFAFA;
}

.bai5 .login-w-facebook,
.bai5 .fogot-pwd {
    color: #39507F;
}


.bai5 .login-w-facebook {
    /* display: block; */
    font-size: 1.8rem;
    margin: 1rem 0;
}

.bai5 .fogot-pwd {
    /* display: block; */
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.bai5 .sign-up-container {
    padding: 2rem;
    font-size:1.7rem;
}

.bai5 .sign-up-container a {
    color: #008DE7;
    font-weight: 600;
}

.get-app {
    margin-top: 1rem;
}

.get-app p {
    font-size:1.7rem;
    padding: 2rem;
}

.get-app .download {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    gap: 1rem;
}

.get-app .download img {
    height: 4.4rem;
    overflow: hidden;
    border-radius: 1rem;
}

/* Bai 5 end */

@media (max-width:1200px) {
    html {
        font-size: 55%;
    }

    .bai1 .container {
        width: unset;
        height: unset;
        padding: 3rem;
    }

    .bai1 input {
        width: 73%;
    }

    .bai2-lan2 .container .content,
    .bai2-lan2 .container {
        width: unset;
    }

    .bai3 .container {
        width: unset;
        padding: 2rem;
    }

    .bai4 {
        height:unset;
    }

    .bai4,
    .bai4 .header,
    .bai4 .box-container {
        width: unset;
    }

    .bai4 .box-container {
        flex-wrap: wrap;
        position: unset;
        padding-bottom: 3rem;
    }
    
    .bai4 .box-container .box{
        width: 96%;
    }


    .bai5 .phone {
        display: none;
    }
}

@media (max-width: 891px) {
    html {
        font-size: 50.2%;
    }

    /* .bai1 .container {

    } */

    .bai2 .img {
        margin-top: 2rem;
    }
    .bai2-lan2 .img {
        margin-top: 2rem;
    }
    .bai2-lan2 .container .content,
    .bai2 .content {
        margin-top: 2rem;
        padding: 0 2rem;
    }

    .bai3 .content-text {
        flex-wrap: wrap;
        flex-direction: column-reverse;
    }

    .bai3 .content-text button {
        margin-top: 1rem;
    }
    .bai5 .login {
        width: unset;
    }
    .bai5 h2 {
        font-size: 3rem;
    }
    .bai5 .fogot-pwd,
    .bai5 .login-w-facebook,
    .bai5 .button-login,
    .bai5 .separate,
    .bai5 .login input{
        width: 90%;
    }
}